* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cocomont", sans-serif;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "cocomont";
  src: url("imgs/Cocomat\ Light-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Animation classes */
.fade-in-element {
  opacity: 0;
  transform: translateY(20px);
}

/* First page - Sticky */
.firstpage {
  height: 100vh;
  width: 100%;
  background: url("imgs/bg2.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: 1;
}

.firstpage-header {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 280px;
  opacity: 0;
}

.firstpage-header img {
  height: 300px;
  width: 500px;
  margin-left: -40px;
  margin-top: -30px;
}

.content-box1 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 8%;
  right: 20%;
  opacity: 0;
}

.blue-box1,
.blue-box2 {
  display: none;
}

.content-box2 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 18%;
  right: 10%;
  opacity: 0;
}

.content-box2 a {
  font-size: 29px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  line-height: 30px;
  color: #f5b410;
  text-decoration: none;
  text-align: center;
}

.content-box1 a:hover {
  font-weight: 900;
}

.content-box2 a:hover {
  font-weight: 900;
}

.content-box1 a {
  color: black;
  font-size: 29px;
  font-weight: 400;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
}

.firstpage-content-box h1 {
  font-size: 51px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.firstpage-content-box {
  position: absolute;
  top: 32%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* Extra Large Screens (1920px and above) */
@media (min-width: 1920px) {
  .content-box1 {
    top: 4%;
    right: 23%;
  }

  .content-box2 {
    top: 16%;
    right: 13%;
  }

  .firstpage-header {
    padding-right: 350px;
  }

  .firstpage-header img {
    height: 350px;
    width: 550px;
  }

  .firstpage-content-box h1 {
    font-size: 60px;
    line-height: 60px;
  }
}

/* Large Screens (1440px to 1919px) */
@media (min-width: 1440px) and (max-width: 1919px) {
  .content-box1 {
    top: 3%;
    right: 20%;
  }

  .content-box2 {
    top: 17%;
    right: 11%;
  }

  .firstpage-header {
    padding-right: 300px;
  }

  .firstpage-header img {
    height: 320px;
    width: 520px;
  }

  .firstpage-content-box h1 {
    font-size: 55px;
    line-height: 55px;
  }
}

/* Medium Screens (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .content-box1 {
    top: 4%;
    right: 20%;
  }

  .content-box2 {
    top: 18%;
    right: 10%;
  }

  .firstpage-header {
    padding-right: 200px;
  }

  .firstpage-header img {
    height: 250px;
    width: 450px;
  }

  .firstpage-content-box h1 {
    font-size: 45px;
    line-height: 45px;
  }

  .content-box1 a,
  .content-box2 a {
    font-size: 26px;
  }
}

/* Tablet Screens (768px to 1023px) */
@media (min-width: 800px) and (max-width: 1030px) {
  .content-box1 {
    top: 10%;
    right: 16%;
  }

  .content-box2 {
    top: 23%;
    right: 5%;
  }

  .firstpage-header {
    padding-right: 150px;
  }

  .firstpage-header img {
    height: 200px;
    width: 400px;
  }

  .firstpage-content-box h1 {
    font-size: 38px;
    line-height: 38px;
  }

  .content-box1 a,
  .content-box2 a {
    font-size: 24px;
  }
}
@media (max-height: 700px) {
  .content-box1 {
    top: 5%;
    right: 20%;
  }
  .content-box2 {
    top: 20%;
    right: 10%;
  }
}
@media (max-height: 530px) {
  .content-box1 {
    top: 5%;
    right: 18%;
  }
  .content-box2 {
    top: 18%;
    right: 9%;
  }
}
@media (max-width: 790px) {
  .firstpage-content-box h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .content-box1 {
    top: 10%;
    right: 15%;
  }

  .content-box2 {
    top: 23%;
    right: 5%;
  }
}
/* Mobile Version - Keep as is (500px and below) */
@media (max-width: 500px) {
  .firstpage {
    background-color: white;
    background-image: none;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .firstpage-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    opacity: 1;
  }

  .firstpage-header img {
    height: 200px;
    width: auto;
    margin-left: 0px;
    margin-top: 0px;
  }

  .firstpage-content-box {
    left: 10px;
    position: static;
    top: 40vh !important;
    text-align: start;
    margin-top: 30vh;
    margin-left: 10px;
    display: block;
    transform: translate(0%, 0%);
  }

  .firstpage-content-box h1 {
    font-size: 28px;
    text-align: start;
    margin-bottom: 0;
    line-height: 20px;
  }

  .content-box2 {
    top: 27vh !important;
    left: 15vh;
    z-index: 99999 !important;
  }

  .content-box2 a {
    font-size: 19px;
  }

  .blue-box1 {
    top: 17vh;
    left: 1vh;
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    opacity: 0;
  }

  .blue-box1:hover img {
    display: none !important;
  }

  .blue-box1:hover .blue-box12 {
    display: block !important;
  }

  .blue-box12 {
    top: 17vh;
    left: 1vh;
    display: none;
    position: absolute;
  }

  .hover-img {
    width: 100%;
  }

  .blue-box1,
  .blue-box2,
  .blue-box3,
  .blue-box4,
  .blue-box5,
  .blue-box6,
  .blue-box7,
  .blue-box8,
  .blue-box9,
  .blue-box10 {
    pointer-events: none !important;
  }

  .blue-box1 img {
    width: 100%;
  }

  .content-box1 {
    left: 4vh;
    z-index: 99999 !important;
    top: 20vh;
    position: absolute;
  }

  .content-box1 a {
    font-size: 19px;
    z-index: 9999;
    line-height: 20px;
  }

  .blue-box2 {
    top: 23vh;
    left: 13vh;
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    opacity: 0;
  }

  .blue-box2 img {
    width: 100%;
  }

  .blue-box3 {
    display: block !important;
    left: 25vh;
    top: 29vh;
  }

  .blue-box4 {
    display: block !important;
    left: 37vh;
    top: 35vh;
  }

  .blue-box5 {
    display: none !important;
    left: 46vh !important;
    top: 47vh;
  }

  .blue-box6 {
    display: none !important;
    left: 44vh !important;
    top: 60vh;
  }

  .blue-box7 {
    display: block !important;
    left: 34vh !important;
    top: 66vh;
  }

  .blue-box8 {
    display: block !important;
    left: 24vh !important;
    top: 73vh;
  }

  .blue-box9 {
    display: block !important;
    left: 14vh !important;
    top: 79vh;
  }

  .blue-box10 {
    display: block !important;
    left: 3vh !important;
    top: 84vh;
  }
}

/* Second page - Sticky */
.secondpage {
  background: url(imgs/secondpage.JPG);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 50px 0px 30px 0px;
  z-index: 2;
}

.secondpage-header {
  width: 100%;
  height: 100px;
  text-align: start;
  padding: 0px 20px;
  opacity: 0;
}

.secondpage-header h3 {
  font-size: 100px;
  font-weight: 600;
  line-height: 70px;
  color: #f5b410;
}

.secondpage-text-content1 {
  position: absolute;
  top: 45%;
  left: 41%;
  opacity: 0;
}

.secondpage-text-content2 {
  position: absolute;
  top: 70%;
  left: 44%;
}

.secondpage-text-content1 h5 {
  font-size: 24px;
  width: 100px;
}

.secondpage-text-content3 {
  position: absolute;
  top: 33%;
  left: 57%;
  color: #f5b410;
}

.secondpage-text-content4 {
  position: absolute;
  top: 75%;
  left: 57%;
  color: #f5b410;
}

.secondpage-text-content5 {
  position: absolute;
  top: 43%;
  left: 68%;
  color: #111111;
}

.secondpage-text-content5 h5 {
  font-size: 22px !important;
}

.secondpage-text-content6 {
  position: absolute;
  top: 63%;
  left: 70%;
}

.secondpage-text-content7 {
  position: absolute;
  top: 27%;
  left: 82%;
}

.secondpage-text-content8 {
  position: absolute;
  top: 7%;
  left: 79%;
}

.secondpage-text-content9 {
  position: absolute;
  top: 17%;
  left: 93%;
  color: white;
}

.secondpage-text-content10 {
  position: absolute;
  top: 44%;
  left: 93%;
  color: white;
}

.secondpage-text-content11 {
  position: absolute;
  top: 76%;
  left: 79%;
  color: rgb(0, 0, 0);
}

.social-media-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
  width: 100%;
  height: 50px;
  gap: 10px;
  opacity: 0;
}

.social-media-box img {
  height: 50px;
  width: 50px;
}

.secondpage-content-box1 {
  display: none;
}

/* Extra Large Screens (1920px and above) */
@media (min-width: 1920px) {
  .secondpage-header h3 {
    font-size: 120px;
    line-height: 90px;
  }

  .secondpage-text-content1 {
    top: 45%;
    left: 42%;
  }

  .secondpage-text-content2 {
    top: 70%;
    left: 42%;
  }

  .secondpage-text-content3 {
    top: 37%;
    left: 52%;
  }

  .secondpage-text-content4 {
    top: 78%;
    left: 52%;
  }

  .secondpage-text-content5 {
    top: 43%;
    left: 63%;
  }

  .secondpage-text-content5 h5 {
    font-size: 24px !important;
  }

  .secondpage-text-content6 {
    top: 67%;
    left: 64%;
  }

  .secondpage-text-content7 {
    top: 27%;
    left: 75%;
  }

  .secondpage-text-content8 {
    top: 7%;
    left: 75%;
  }

  .secondpage-text-content9 {
    top: 20%;
    left: 85%;
  }

  .secondpage-text-content10 {
    top: 44%;
    left: 85%;
  }

  .secondpage-text-content11 {
    top: 76%;
    left: 70%;
  }
}

/* Large Screens (1440px to 1919px) */
@media (min-width: 1440px) and (max-width: 1919px) {
  .secondpage-header h3 {
    font-size: 110px;
    line-height: 80px;
  }

  .secondpage-text-content1 {
    top: 45%;
    left: 40%;
  }

  .secondpage-text-content2 {
    top: 70%;
    left: 40%;
  }

  .secondpage-text-content3 {
    top: 33%;
    left: 52%;
  }

  .secondpage-text-content4 {
    top: 76%;
    left: 52%;
  }

  .secondpage-text-content5 {
    top: 43%;
    left: 62%;
  }

  .secondpage-text-content5 h5 {
    font-size: 20px !important;
  }

  .secondpage-text-content6 {
    top: 64%;
    left: 63%;
  }

  .secondpage-text-content7 {
    top: 27%;
    left: 73%;
  }

  .secondpage-text-content8 {
    top: 7%;
    left: 73%;
  }

  .secondpage-text-content9 {
    top: 17%;
    left: 84%;
  }

  .secondpage-text-content10 {
    top: 44%;
    left: 84%;
  }

  .secondpage-text-content11 {
    top: 76%;
    left: 70%;
  }
}

/* Medium Screens (1024px to 1439px) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .secondpage-header h3 {
    font-size: 90px;
    line-height: 65px;
  }

  .secondpage-text-content1 {
    top: 45%;
    left: 40%;
  }

  .secondpage-text-content1 h5 {
    font-size: 20px;
  }

  .secondpage-text-content2 {
    top: 69%;
    left: 40%;
  }

  .secondpage-text-content3 {
    top: 33%;
    left: 51%;
  }

  .secondpage-text-content4 {
    top: 76%;
    left: 51%;
  }

  .secondpage-text-content5 {
    top: 43%;
    left: 61%;
  }

  .secondpage-text-content5 h5 {
    font-size: 18px !important;
  }

  .secondpage-text-content6 {
    top: 62%;
    left: 62%;
  }

  .secondpage-text-content7 {
    top: 29%;
    left: 73%;
  }

  .secondpage-text-content8 {
    top: 10%;
    left: 73%;
  }

  .secondpage-text-content9 {
    top: 20%;
    left: 84%;
  }

  .secondpage-text-content10 {
    top: 44%;
    left: 84%;
  }

  .secondpage-text-content11 {
    top: 76%;
    left: 72%;
  }
}

/* Tablet Screens (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1028px) {
  .secondpage-header h3 {
    font-size: 70px;
    line-height: 55px;
  }

  .secondpage-text-content1 {
    top: 47%;
    left: 37%;
  }

  .secondpage-text-content1 h5 {
    font-size: 18px;
  }

  .secondpage-text-content2 {
    top: 68%;
    left: 37%;
  }

  .secondpage-text-content3 {
    top: 35%;
    left: 51%;
  }

  .secondpage-text-content4 {
    top: 73%;
    left: 51%;
  }

  .secondpage-text-content5 {
    top: 44%;
    left: 63%;
  }

  .secondpage-text-content5 h5 {
    font-size: 16px !important;
  }

  .secondpage-text-content6 {
    top: 65%;
    left: 64%;
  }

  .secondpage-text-content7 {
    top: 32%;
    left: 76%;
  }

  .secondpage-text-content8 {
    top: 13%;
    left: 76%;
  }

  .secondpage-text-content9 {
    top: 24%;
    left: 89%;
  }

  .secondpage-text-content10 {
    top: 45%;
    left: 89%;
  }

  .secondpage-text-content11 {
    top: 76%;
    left: 74%;
  }
}

@media (max-height: 700px) {
  .secondpage-text-contentOne {
    left: 39%;
  }
  .secondpage-text-content2 {
    top: 70%;
    left: 39%;
  }
  .secondpage-text-content5 {
    top: 44%;
    left: 63%;
  }
  .secondpage-text-content7 {
    top: 32%;
    left: 72%;
  }
  .secondpage-text-content8 {
    top: 13%;
    left: 72%;
  }
  .secondpage-text-content9 {
    top: 20%;
    left: 84%;
  }
  .secondpage-text-content10 {
    top: 45%;
    left: 84%;
  }
}
@media (max-height: 600px) {
  .secondpage-text-content5 {
    top: 44%;
    left: 61%;
  }
  .secondpage-text-content9 {
    top: 22%;
    left: 83%;
  }
  .secondpage-text-content10 {
    top: 45%;
    left: 83%;
  }
}
/* Small Tablet (501px to 767px) */
@media (min-width: 501px) and (max-width: 788px) {
  .secondpage-header h3 {
    font-size: 50px;
    line-height: 45px;
  }

  .secondpage-text-content1 {
    top: 45%;
    left: 48%;
  }
  .secondpage-text-contentOne {
    top: 45%;
    left: 37%;
  }
  .secondpage-text-content1 h5 {
    font-size: 16px;
  }

  .secondpage-text-content2 {
    top: 67%;
    left: 37%;
  }

  .secondpage-text-content3 {
    top: 33%;
    left: 51%;
  }

  .secondpage-text-content4 {
    top: 72%;
    left: 50%;
  }

  .secondpage-text-content5 {
    top: 44%;
    left: 62%;
  }

  .secondpage-text-content5 h5 {
    font-size: 14px !important;
  }

  .secondpage-text-content6 {
    top: 62%;
    left: 63%;
  }

  .secondpage-text-content7 {
    top: 31%;
    left: 75%;
  }

  .secondpage-text-content8 {
    top: 10%;
    left: 75%;
  }

  .secondpage-text-content9 {
    top: 24%;
    left: 87%;
  }

  .secondpage-text-content10 {
    top: 46%;
    left: 88%;
  }

  .secondpage-text-content11 {
    top: 76%;
    left: 71%;
  }
}

/* Mobile Version - Keep as is (500px and below) */
@media (max-width: 500px) {
  .secondpage-header h3 {
    font-size: 35px;
    font-weight: 600;
  }
  .secondpage-text-contentOne {
    display: none;
  }
  .secondpage {
    background-color: white;
    background-image: none;
    position: sticky;
    padding-bottom: 50px;
    top: 0;
  }

  .secondpage-content-box1 {
    height: 120px;
    display: block;
    position: absolute;
    top: 25vh;
    left: 15vh;
    width: 120px;
    opacity: 0;
  }
  /* ..secondpage-text-content1 {
    display: none;
  } */
  .secondpage-content-box1 img {
    width: 100%;
  }

  .secondpage-content-box2 {
    height: 90px;
    position: absolute;
    top: 27vh;
    width: 90px;
    left: 17vh;
    display: none;
    opacity: 0;
  }

  .secondpage-content-box3 {
    top: 32vh;
    left: 2vh;
    opacity: 0;
  }

  .secondpage-text-content1 h5 {
    font-size: 20px;
  }

  .secondpage-text-content2 {
    top: 35vh;
    left: 6vh;
  }

  .secondpage-content-box4 {
    top: 17vh;
    left: 28vh;
    opacity: 0;
  }

  .secondpage-text-content3 {
    top: 20vh;
    left: 32vh;
  }

  .secondpage-text-content4 {
    top: 29vh;
    left: 19vh;
  }

  .secondpage-text-content4 h5 {
    font-size: 16px;
  }

  .secondpage-text-content5 {
    top: 46vh;
    left: 19vh;
  }

  .secondpage-text-content5 h5 {
    font-size: 16px !important;
  }

  .secondpage-text-content6 {
    top: 58vh;
    left: 20vh;
  }

  .secondpage-content-box5 {
    top: 41vh;
    left: 16vh;
    opacity: 0;
  }

  .secondpage-content-box6 {
    top: 50vh;
    left: 2vh;
    opacity: 0;
  }

  .secondpage-content-box7 {
    top: 32vh;
    left: 30vh;
    opacity: 0;
  }

  .secondpage-text-content7 {
    top: 35vh;
    left: 33vh;
  }

  .secondpage-text-content8 {
    top: 55vh;
    left: 4vh;
  }

  .secondpage-content-box8 {
    top: 67vh;
    left: 20vh;
    opacity: 0;
  }

  .secondpage-text-content9 {
    top: 72vh;
    left: 23vh;
    color: rgb(255, 255, 255);
    z-index: 99;
  }

  .secondpage-content-box9 {
    top: 67vh;
    left: 2vh;
    opacity: 0;
  }

  .secondpage-text-content10 {
    top: 72vh;
    left: 4vh;
    z-index: 999;
  }

  .secondpage-text-content11 {
    top: 50vh;
    left: 35vh;
    opacity: 0;
  }

  .social-media-box {
    padding-bottom: 45px;
  }
}

/* Third page - Sticky */
.thirdpage {
  padding: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
  min-height: 100vh;
}
.thirdpage h1 {
  font-size: 100px;
  color: #f5b410;
  opacity: 0;
}
.thirdpage p {
  font-size: 25px;
  width: 900px;
  opacity: 0;
}
.thirdpage p span {
  font-family: "popins";
}

@media screen and (max-width: 1024px) {
  .thirdpage {
    padding: 40px;
  }
  .thirdpage h1 {
    font-size: 70px;
  }
  .thirdpage p {
    font-size: 20px;
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .thirdpage {
    padding: 30px 20px;
    height: auto;
    position: sticky;
    top: 0;
  }
  .thirdpage h1 {
    font-size: 45px;
  }
  .thirdpage p {
    font-size: 16px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .thirdpage {
    padding: 40px 15px;
    position: sticky;
    top: 0;
  }
  .thirdpage h1 {
    font-size: 35px;
  }
  .thirdpage p {
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
  }
}

/* Contact section - Normal scroll (top layer) */
.contact-section {
  height: 100vh;
  width: 100%;
  background: url(imgs/bg.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: start;
  position: relative;
  z-index: 4;
}
.contact-section h1 {
  font-size: 100px;
  color: #f5b410;
  margin-bottom: 120px;
  opacity: 0;
}
.contact-socail-media-main-box {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 25px;
  opacity: 0;
}
.contact-socail-media-main-box img {
  height: 50px;
}
.contact-socail-media-main-box h5 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .contact-section {
    padding: 40px;
  }
  .contact-section h1 {
    font-size: 70px;
    margin-bottom: 80px;
  }
  .contact-socail-media-main-box {
    margin-top: 20px;
  }
  .contact-socail-media-main-box img {
    height: 45px;
  }
  .contact-socail-media-main-box h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .contact-section {
    padding: 30px 20px;
    height: auto;
    min-height: 100vh;
  }
  .contact-section h1 {
    font-size: 45px;
    margin-bottom: 50px;
  }
  .contact-socail-media-main-box {
    margin-top: 18px;
    gap: 8px;
  }
  .contact-socail-media-main-box img {
    height: 40px;
  }
  .contact-socail-media-main-box h5 {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .contact-section {
    padding: 20px 15px;
  }
  .contact-section h1 {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .contact-socail-media-main-box {
    margin-top: 15px;
    gap: 6px;
  }
  .contact-socail-media-main-box img {
    height: 35px;
  }
  .contact-socail-media-main-box h5 {
    font-size: 14px;
  }
}
